#stacked-images-slider{
	width: 50vw;
	display: block;
	position: relative;
	left: 25vw;
	top: 20vh;
}

.stacked-image{
	position: absolute;
	top: 0%;
	transform: translateX(-50%);
}

/*hidden*/
.si0{
	left: 50%;
	max-width: 15%;
	z-index: 1;
	opacity: 0;
}

/*middle*/
.si3{
	left: 50%;
	max-width: 50%;
	z-index: 6;
}

/*left1*/
.si2{
	left: 15%;
	max-width: 30%;
	z-index: 5;
	opacity: 0.6;
}

/*right1*/
.si4{
	left: 85%;
	max-width: 30%;
	z-index: 4;
	opacity: 0.6;
}

/*left2*/
.si1{
	left: 10%;
	max-width: 20%;
	z-index: 3;
	opacity: 0;
}

/*right2*/
.si5{
	left: 90%;
	max-width: 20%;
	z-index: 2;
	opacity: 0;
}

*{
	transition: all ease 1s;
}